.header {
  height: 5vh;
  padding: 4px 0;
  background: rgba(0,0,0,.13);

      .container {
      height: 100%;
    }

  &__wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


  .logo {
    width: 100%;
    max-width: 30px;

    &__img {
      display: block;
      width: 100%;
    }
  }

  .menu {
    display: flex;
    gap: 15px;

    font-size: 12px;
  }
}