.header {
  padding: 10px 0;
  background: rgba(0,0,0,.13);
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


  .logo {
    width: 100%;
    max-width: 40px;

    &__img {
      display: block;
      width: 100%;
    }
  }

  .menu {
    display: flex;
    gap: 15px;
  }
}